// @media (max-width: 1170px)
//     .header_logo
//         min-width: 1170px
@media (max-width: 1080px)
    .header
        background: url('../img/bike-1778118_1920 (1).png')  no-repeat 
        height: 1080px
        
        &_logo
            background: url('../img/VeloRent2.png') no-repeat
            width: 222px
            height: 57px
            padding-right: 115px
           

        .button
            width: 500px
            height: 100px
