@media (max-width: 1176px) //Desctop adaptation


    .header_tel
        margin-left: 98px
        font-size: 20px
    .header_logo
        padding-right: 70px
    //.header_wrapper_content
        //p
            //font-size: 42px

    
    
@media (max-width: 1165px)

    .main_content
        width: 100%
        &_subtitle

        .main_content_card
            margin-left: -10px

@media (max-width: 1110px)
    .cards_wraper
        justify-content: center
    .equipment_wraper
        justify-content: center
    // .item_helmet
    //     margin-left: 0px

    // .item_trailer
    //     margin-left: 0px

    


    
@media (max-width: 1080px)
    .header
        background: url('../img/bg_adapt.png')  center center/cover no-repeat
        height: 1080px
        //max-width: 1080px
        max-width: 100%
        //center center/cover no-repeat
        
        
        
        
        &_logo
            background: url('../img/VeloRent2.png') no-repeat
            width: 222px
            height: 57px
            padding-right: 115px
        
        nav
            display: none
        
        .header_tel
            display: none

        .header_wrapper
            padding: 0px 0px 0px 0px
            margin: 0px auto
            margin-right: 350px
            width: 100%
            align-items: center

        .header_wrapper_content
            margin-left: 60px
            text-align: left

            
            p
                font-weight: 500
                font-size: 80px
                line-height: 92px
                width: 853px
                
                
           

        .button
            margin-top: 527px
            left: 50%
            right: 50%
            width: 500px
            height: 100px
            
.main_content
    &_subtitle

    .main_content_cards

    .main_content_cards
        margin-left: 10px

.price_text_line
    margin: 0 auto
    img
        width: 100%
            


.footer
    iframe
        
        width: 100%
    

@media (max-width: 987px)
    .price

        .price_text  // line of price 

        .price_text_time
            width: 100%


        



    .main_content
        width: 100%
        &_subtitle

        .main_content_cards
            justify-content: center
        .main_content_card
            margin-left: -25px
        
        
        
    

@media (max-width: 910px)
    .header_wrapper_content
        p
            font-size: 60px !important
         
        

    .main_content_cards
        justify-content: center

@media (max-width: 1000px)
    .item_helmet
        margin-left: 240px
    .item_lock
        margin-left: 200px
    .item_armchair
        margin-left: 180px
    .item_trailer
        margin-left: 110px
    .item_lamp
        margin-left: 248px
    .item_gloves
        margin-left: 180px
        

@media (max-width: 741px)


    .main_content_subtitle
        p
            font-size: 25px


    //adaptive equipment section
    .equipment_wraper
        flex-direction: column

    .item_helmet
        margin-left: 0px
    .item_lock
        margin-left: 0px
    .item_armchair
        margin-left: 0px
    .item_trailer
        margin-left: 0px
    .item_lamp
        margin-left: 0px
    .item_gloves
        margin-left: 0px